---
http_interactions:
- request:
    method: get
    uri: https://calendly.com/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - AICDPPONNEXAA52LQHQPV3UPZM7DPKR4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"672e80396769e37c3191b2ef01799c00"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"FGDECQJRUU6XWVA6","attributes":{"slug":"kurttomlinson","name":"Kurt
        Tomlinson","email":"kurttomlinson@gmail.com","url":"https:\/\/calendly.com\/kurttomlinson","timezone":"America\/New_York","avatar":{"url":null},"created_at":"2019-04-08T21:13:43Z","updated_at":"2019-04-08T21:14:20Z"}}}'
  recorded_at: Fri, 12 Apr 2019 02:03:37 GMT
recorded_with: VCR 4.0.0
